.amount-number {
  font-size: 26px;
  font-weight: bold;
}

.content-status-tag {
  margin-top: 16px;
  display: flex;
}

.failure {
  margin-left: 6px;
}

.a-ref-vt {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.a-ref-cb {
  font-size: 14px;
  color: #d6e0f0!important;
  cursor: pointer;
}