body {
  font-family: 'Poppins', sans-serif;
  background-color: #d6e0f0;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.table {
  background-color: #fff!important;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.grey-tag {
  color: #8d93ab;
}

.profile-content ul.ul-profile-content {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.profile-content:hover ul.ul-profile-content, ul.ul-profile-content:hover {
	display: block;
}

.profile-content li.li-profile-content {
  margin: 10px 0px;
}

.profile-content li.li-profile-content a {
  font-size: 12px;
  text-decoration: none;
}

.profile-content li.li-profile-content a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile-content-photo {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.profile-content-photo img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}


.little-description-user {
  font-size: 12px;
}

/** SIDEBAR STYLE **/

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #ffff;
  color: #000;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
}
#sidebar ul li a:hover {
  background-color: #ecf4f3;
  color: #006a71;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #000;
  background-color: #fff;
  border-left-style: solid;
  border-left-color: #68b0ab;
  border-left-width: 5px;
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background-color: #fff;
  color: #7386D5;
}

a.article, a.article:hover {
  background-color: #6d7fcc !important;
  color: #fff !important;
}

/** CONTENT STYLE **/
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background-color: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.custom-icon {
  padding: 0px 26px 0px 20px;
}

/**Cards payments**/
.container.card-payment {
  background-color: #fff;
  min-height: 260px;
  border-radius: 5px;
}

.title-card-payment {
  color: #000;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 2px solid #d6e0f0;
}

.common-text {
  font-size: 14px;
}

.payment-subcontent {
  text-align: center;
  margin-left: 15px;
}

.grey {
  color: #8d93ab;
}

.col-card-payment {
  margin-top: 12px;
}

#sidebarCollapse {
  background-color: transparent;
  width: 0px;
  height: 0px;
}

.burger {
  display: none;
}

/**Media querys**/

@media (max-width: 768px) {
  #sidebarCollapse {
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .burger {
    display: block;
  }

  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
    
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
    
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
    
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

  .container.card-payment {
    height: 100%;
  }
}
